.c6689{
  display:inline-block;
  width: 19%;
  text-align: center;
  height:100%;
  font-size:57px;
  background-color:#0071b8;
  color:#ffffff;
  float:right;
}
.c5221{
  width:80%;
  display:inline-block;
  background-color:#0071b8;
  color:#ffffff;
  height: 100%;
  text-align: center;
  font-size: 58px;
}

.c4589{
	margin-bottom:50px;
}