#c7594 {
  bottom: 0px;
  margin: 0px 0px 16px 0px;
}

#c9728 {
  bottom: 0px;
  margin: 0px 0px 16px 0px;
  width: 100%;
  height: 29px;
  border: 5px solid #ffffff;
  border-radius: 10px 10px 10px 10px;
}

.bdg-action-team {
  background-color: #b83d3d;
  width: 350px;
  border: 3px solid #c0c0c0;
  border-radius: 10px 10px 10px 10px;
  height: 170px;
  display: inline-block;
}

.bdg-action-team {
  margin-bottom: 50px;
}

.action-team-title {
  font-size: 44px;
  float: none;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 10px;
}

.action-team-users {
  display: inline-block;
  width: 160px;
  height: auto;
  top: 0px;
  position: relative;
}

.c8935 {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0px 0px 0px 15px;
  width: 30px;
}

.c9104 {
  padding: 10px;
  display: inline-block;
  top: -8px;
  position: relative;
  font-weight: 700;
  font-size: 26px;
  height: auto;
}

.action-team-progress {
  display: inline-block;
  width: 150px;
  height: auto;
  position: relative;
  top: -35px;
}

.action-team-progress-empty {
  height: 60px;
  width: 100%;
  position: static;
  top: 0px;
  min-height: auto;
  padding: 0px 0px 0px 0px;
  bottom: 0px;
  margin: 0px 0px 16px 0px;
  width: 100%;
  height: 30px;
  border: 5px solid black;
  border-radius: 10px 10px 10px 10px;
}

.c12100 {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.action-team-progress-full {
  max-width:100%;
  height: 24px;
  top: -2px;
  left: -2px;
  position: relative;
}

.img_sprite, .img_sprite_admission {
  display: inline-block;
  width: 120px;
  margin: 0px 0px 0px 49px;
  height: 120px;
  overflow: hidden;
}

.sprite {
  position: relative;
}

@media (max-width: 768px) {
  .navbar-burger {
    display: block;
  }
  .navbar-items-c {
    display: none;
    width: 100%;
  }
  .navbar-menu {
    width: 100%;
  }
  .navbar-menu-link {
    display: block;
  }
}

.rank_team {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  margin-right: 30px;
  border-radius: 40px;
  position: relative;
  top: -40px;
  height: 80px;
  background-color: #0071b8;
  box-shadow: rgb(52, 52, 52) 0px 5px 10px
}

.rank_team h1 {
  font-size: 50px;
  margin: 0px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 80px;
}

.bdg-action-block-user {
  width: auto;
  display: inline-block;
  background-color: #b83d3d;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #c0c0c0;
  padding: 5px;
  font-size: 30px;
  margin: 5px;
}

.action-team-title {
  font-size: 44px;
  float: none;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;go
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  width: 350px;
  display: inline-block;
}

.action-user-title {
  font-size: 30px;
  margin: 5px 10px 5px 10px;
  width: auto;
  display: block;
}

.list_users{
  display:inline-block;
  width:680px;
}

.result_team {
  width:100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
.result_team img{
  width:100%;
}

.explain_1{
  display:inline-block;
  width:1000px;
  vertical-align: middle;
}

.title_result{
  display: inline-block;
  color:#0071b8;
  font-size: 30px;
}

.good{
    color:green ;
}

.bad{
    color:red ;
}
